body{
  background: url("https://e1.pxfuel.com/desktop-wallpaper/424/1010/desktop-wallpaper-blue-sky-and-green-field-widescreen-green-field.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.weather-box{
  border: 3px solid white;
  border-radius: 15px;
  padding: 50px;
  background-color: #74e57b;
  margin-bottom: 20px;
}
.weather-button{
  display: flex;
  justify-content: center;
  background-color: #74e57b;
  border-radius: 60px;
  max-width: 700px;
  width:100%;
 padding: 30px;
 margin-top: 30px;
  
  
}
.weather-button button{
  margin-right: 20px;
}